body {
    background-color: aliceblue;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 40px;
    padding: 20px;
    margin: 1em;
}
ul {
    font-size: 20px;
    padding: 16px;
    margin: 1em;
}
li {
    margin: 2px;
    padding: 2px;
}
