body {
    background-color: aliceblue;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home .link {
    margin-bottom: 10px;
    padding: 10px;
    height: 60px;
    width: 100px;
    font-weight: 700;
    font-size: 24px;
}
.recipie{
    padding-left: 50px;
}
.recipie img{
    padding: 20px;
}
h1 {
    font-size: 40px;
    padding: 20px;
    margin: 1em;
}
ul {
    font-size: 20px;
    padding: 16px;
    margin: 1em;
}
li {
    margin: 2px;
    padding: 2px;
}
